<section class="container mt-4">
  <h1 class="mb-4">{{patient.name}}'s Medical Records</h1>

  <!-- Display Most Recent Appointment -->
  {{#if recentAppointment}}
    <h2>Most Recent Appointment</h2>
    <p>
      <strong>Date:</strong>
      {{recentAppointment.date}}<br />
      <strong>Status:</strong>
      {{recentAppointment.status}}
    </p>
  {{else}}
    <p class="text-muted">No recent appointments found.</p>
  {{/if}}

  <!-- Add New Record -->
  {{#if (eq doctor.designation "consultant")}}
    <h2 class="mt-4">Add New Medical Record</h2>
    <form action="/doctor/patient/{{patient._id}}/record" method="POST">
      <div class="mb-3">
        <label class="form-label">Diagnosis:</label>
        <textarea
          name="diagnosis"
          class="form-control"
          rows="3"
          placeholder="Enter Diagnosis"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Prescription:</label>
        <textarea
          name="prescription"
          class="form-control"
          rows="3"
          placeholder="Enter Prescription if any"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Add Record</button>
    </form>
  {{/if}}

  <!-- Medical Records for lab Section -->
  {{#if (eq doctor.designation "lab")}}
    <h2 class="mt-4">Medical Records</h2>
    <ul class="list-group">
      {{#each patient.medicalRecords}}
        <li class="list-group-item">
          <p><strong>Date:</strong> {{this.date}}</p>
          <p><strong>Consultant:</strong> {{this.doctor.name}}</p>
          <p><strong>Diagnosis:</strong> {{this.diagnosis}}</p>
          {{#if this.lab}}
          <hr>
          <p><strong>Lab Results:</strong> {{this.lab}}</p>
          {{else}}
          <hr>
          <p><strong>Lab Results:</strong> Nil</p>
          <!-- Add New Lab Record -->
          <button data-bs-toggle="collapse" data-bs-target="#labC" class="btn btn-success">Add Lab Finding Record</button>
          
    <div id="labC" class="collapse">
    <form action="/doctor/patient/{{../patient._id}}/lab/{{this._id}}" method="POST">
      <br>
      <div class="mb-3">
        <textarea
          name="lab"
          class="form-control"
          rows="3"
          placeholder="Enter Lab Report"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form></div>
          {{/if}}
          {{#if this.radio}}
          <hr>
          <p><strong>Radiologist:</strong> {{this.radio}}</p>
          {{else}}
          <hr>
          <p><strong>Radiologist:</strong> Nil</p>
          {{/if}}
          {{#if (eq this.pharm 'yes')}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}} (dispensed)</p>
          {{else}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}}</p>
          {{/if}}
        </li><hr>
      {{/each}}
    </ul>
  {{/if}}

  <!-- Medical Records for radio Section -->
  {{#if (eq doctor.designation "radiologist")}}
    <h2 class="mt-4">Medical Records</h2>
    <ul class="list-group">
      {{#each patient.medicalRecords}}
        <li class="list-group-item">
          <p><strong>Date:</strong> {{this.date}}</p>
          <p><strong>Diagnosis:</strong> {{this.diagnosis}}</p>
          {{#if this.lab}}
          <hr>
          <p><strong>Lab Results:</strong> {{this.lab}}</p>
          {{else}}
          <hr>
          <p><strong>Lab Results:</strong> Nil</p>
          {{/if}}
          {{#if this.radio}}
          <hr>
          <p><strong>Radiologist:</strong> {{this.radio}}</p>
          {{else}}
          <hr>
          <p><strong>Radiologist:</strong> Nil</p>
          <!-- Add New Radio Record -->
    <button data-bs-toggle="collapse" data-bs-target="#radioC" class="btn btn-success">Add Radio Report Record</button>
          
    <div id="radioC" class="collapse">
    <form action="/doctor/patient/{{../patient._id}}/radio/{{this._id}}" method="POST">
      <br>
      <div class="mb-3">
        <label class="form-label">Radio:</label>
        <textarea
          name="radio"
          class="form-control"
          rows="3"
          placeholder="Enter Radio Report"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form></div>
          {{/if}}
          {{#if (eq this.pharm 'yes')}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}} (dispensed)</p>
          {{else}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}}</p>
          {{/if}}
        </li><hr>
      {{/each}}
    </ul>
  {{/if}}

  <!-- Medical Records for pharmacy Section -->
  {{#if (eq doctor.designation "pharmacist")}}
    <h2 class="mt-4">Medical Records</h2>
    <ul class="list-group">
      {{#each patient.medicalRecords}}
        <li class="list-group-item">
          <p><strong>Date:</strong> {{this.date}}</p>
          <p><strong>Diagnosis:</strong> {{this.diagnosis}}</p>
          {{#if (eq this.pharm 'yes')}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}} (dispensed)</p>
          {{else}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}}</p>
          <form action="/doctor/patient/{{../patient._id}}/pharm/{{this._id}}" method="POST">
            <input type="hidden" name="patientId" id="patientId" value={{../patient._id}}>
            <input type="hidden" name="recordId" id="recordId" value={{this._id}}>
            <button type="submit" class="btn btn-success">Dispense prescription</button>
          </form>
          {{/if}}
        </li><hr>
      {{/each}}
    </ul>
  {{/if}}

  <!-- Medical Records for Consultant Section -->
  {{#if (eq doctor.designation "consultant")}}
    <h2 class="mt-4">Medical Records</h2>
    <ul class="list-group">
      {{#each patient.medicalRecords}}
        <li class="list-group-item">
          <p><strong>Date:</strong> {{this.date}}</p>
          <p><strong>Diagnosis:</strong> {{this.diagnosis}}</p>
          {{#if this.lab}}
          <hr>
          <p><strong>Lab Results:</strong> {{this.lab}}</p>
          {{else}}
          <hr>
          <p><strong>Lab Results:</strong> Nil</p>
          {{/if}}
          {{#if this.radio}}
          <hr>
          <p><strong>Radiologist:</strong> {{this.radio}}</p>
          {{else}}
          <hr>
          <p><strong>Radiologist:</strong> Nil</p>
          {{/if}}
          {{#if (eq this.pharm 'yes')}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}} (dispensed)</p>
          {{else}}
          <hr>
          <p><strong>Prescription:</strong> {{this.prescription}}</p>
          {{/if}}

          <!-- Update Form -->
          {{!-- <form
            action="/doctor/patient/{{patient._id}}/record/{{this._id}}"
            method="POST"
            class="mt-2"
          >
            <div class="mb-3">
              <textarea
                name="diagnosis"
                class="form-control"
                rows="3"
                placeholder="Update Diagnosis"
              >{{this.diagnosis}}</textarea>
            </div>
            <div class="mb-3">
              <textarea
                name="prescription"
                class="form-control"
                rows="3"
                placeholder="Update Prescription"
              >{{this.prescription}}</textarea>
            </div>
            <button type="submit" class="btn btn-warning">Update Record</button>
          </form> --}}
        </li><hr>
      {{/each}}
    </ul>
  {{/if}}
<br><br>
  
</section>